@model IEnumerable<MySuperMarket.Models.INCOME>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>超市管理系统 v0.1</title>
    <link rel="stylesheet" href="/Content/assets/libs/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="color:white">
                <b>超市管理系统 v0.1</b>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left" style="margin-top: 20px">
                <span class="layui-breadcrumb">
                    <a href="">欢迎</a>
                    <a href="">销售管理</a>
                    <a href="">收支管理</a>
                </span>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/Content//image/avatar.PNG" class="layui-nav-img">
                        管理员
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出登录</a></li>
            </ul>
        </div>
        <!-- 导航栏区域 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航）-->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">销售管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SALES_LOT/Index">今日销售</a></dd>
                            <dd><a href="/SALES_LOT/Create">销售报表</a></dd>
                            <dd><a href="/PRODUCT_ATTRIBUTE/Index">商品信息管理</a></dd>
                            <dd class="layui-this"><a href="/INCOMEs/Index">收支管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">货架管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SHELves/Index">货架分区</a></dd>
                            <dd><a href="/PRODUCTs/Put">商品摆放</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/STOCKs/Index">进货记录</a></dd>
                            <dd><a href="/PRODUCTs/Index">库存记录</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">供应链管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/PLANs/Index">进货计划</a></dd>
                            <dd><a href="/SUPPLIERs/Index">供货商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">赞助商管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SUPPORTs/Index">赞助记录</a></dd>
                            <dd><a href="/SPONSORs/Index">赞助商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/EMPLOYEEs/Index">员工记录</a></dd>
                            <dd><a href="/SALARies/Index">工资管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">促销管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/VIPs/Index">会员信息</a></dd>
                            <dd><a href="/PRODUCTs/Create">折扣管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" style="background-color: #F2F2F2;padding: 0px 20px 20px 20px">
            <!-- 内容主体区域 -->
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">收入</li>
                    <li>支出</li>
                </ul>
                <div class="layui-tab-content" style="margin-top: 10px">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header" style="font-weight: bold;font-size: 18px">本季度销售收入</div>
                                    <div class="layui-card-body">
                                        <label>
                                            <i class="layui-icon layui-icon-rmb" style="font-size: 24px; font-weight: bold;color: #FFD700"></i>
                                            <i style="font-size: 24px; font-weight: bold">88,994,785</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header" style="font-weight: bold;font-size: 18px">本季度赞助收入</div>
                                    <div class="layui-card-body">
                                        <label>
                                            <i class="layui-icon layui-icon-rmb" style="font-size: 24px; font-weight: bold;color: #FFD700"></i>
                                            <i style="font-size: 24px; font-weight: bold">7,233,228</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- 主体表格部分 -->
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">当前季度：2018年</div>
                                    <div class="layui-card-body">
                                        <div class="demoTable">
                                            <!--年选择器-->
                                            <div class="layui-inline">
                                                <label>年份选择：</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input" id="year_test" placeholder="2018">
                                                </div>
                                            </div>
                                            <button id="user-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                                            <!--高级搜索-->
                                            <button type="button" id="income-btn-sup-search" class="layui-btn layui-btn-normal">高级搜索</button>
                                        </div>
                                        <!--收入表-->
                                        <table class="layui-hide" id="income_table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header" style="font-weight: bold;font-size: 18px">本季度进货支出</div>
                                        <div class="layui-card-body">
                                            <label>
                                                <i class="layui-icon layui-icon-rmb" style="font-size: 24px; font-weight: bold;color: #FFD700"></i>
                                                <i style="font-size: 24px; font-weight: bold">2,994,785</i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header" style="font-weight: bold;font-size: 18px">本季度员工工资支出</div>
                                        <div class="layui-card-body">
                                            <label>
                                                <i class="layui-icon layui-icon-rmb" style="font-size: 24px; font-weight: bold;color: #FFD700"></i>
                                                <i style="font-size: 24px; font-weight: bold">233,228</i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- 主体表格部分 -->
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">当前季度：2018年</div>
                                        <div class="layui-card-body">
                                            <div class="demoTable">
                                                <!--年选择器-->
                                                <div class="layui-inline">
                                                    <label>年份选择：</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" class="layui-input" id="year_test2" placeholder="2018">
                                                    </div>
                                                </div>
                                                <button id="user-btn-search3" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                                                <!--高级搜索-->
                                                <button type="button" id="expense-btn-sup-search" class="layui-btn layui-btn-normal">高级搜索</button>
                                            </div>
                                            <!--支出表-->
                                            <table class="layui-hide" id="expense_table"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
        </div>
    </div>
    <script src="/Content/assets/libs/layui/layui.js"></script>
    <script type="text/html" id="staff-table-bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/javascript">
        function change(time) {
            var date = new Date(parseInt(time.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var Hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }

    </script>
    <script>
//JavaScript代码区域
    layui.use(['element','layer'], function() {
        var element = layui.element, layer = layui.layer;

    });
    //读取收入表格数据
    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;
        table.render({
            elem: '#income_table'
            , url: '/INCOMEs/getJson/' //数据接口
            , method: "post"
            ,cellMinWidth: 160
            //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            //width 支持：数字、百分比和不填写。
            //你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'INCOME_ID', title: '收入ID',width:'300'}
                , { field: 'INCOME_DATE', title: '日期', sort: true, width: '300', templet: '<div>{{ change(d.INCOME_DATE)}}</div>'}
                ,{field:'MONEY', title: '收入金额',width:'300'}
                ,{field:'TYPE', title: '类别',width:'300' }
            ]]
        });
        //收入高级搜索按钮点击事件
        $(document).on('click','#income-btn-sup-search',function(){
            layer.open({
                type: 2,
                title: '高级搜索',
                area: ['460px','380px'],
                offset: 'auto',
                content: '04_income_manage_form.html'
            });
        });
    });
    //读取支出表格数据
    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;
        table.render({
            elem: '#expense_table'
            , url: '/EXPENSEs/getJson/' //数据接口
            , method: "post"
            ,cellMinWidth: 100
            //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            //width 支持：数字、百分比和不填写。
            //你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                { field:'EXPENSE_ID', title: '支出ID',width:'300'}
                , { field: 'EXPENSE_DATE', title: '日期', sort: true, width: '300', templet: '<div>{{ change(d.EXPENSE_DATE)}}</div>'}
                ,{field:'MONEY', title: '支出金额',width:'300'}
                ,{field:'TYPE', title: '类别',width:'300' }
            ]]

        });
        //支出高级搜索按钮点击事件
        $(document).on('click','#expense-btn-sup-search',function(){
            layer.open({
                type: 2,
                title: '高级搜索',
                area: ['460px','380px'],
                offset: 'auto',
                content: '04_expense_manage_form.html'
            });
        });
    });
    //收入年选择器,限定可选日期
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var ins22 = laydate.render({
            elem: '#year_test'
            ,type:'year'
            ,range: true
            ,min: '2008-01-01'
            ,max: '2018-12-31'
            ,ready: function(){
                ins22.hint('日期可选值设定在 <br> 2008 到 2018');
            }
        });
    });
    //支出年选择器
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var ins22 = laydate.render({
            elem: '#year_test2'
            ,type:'year'
            ,min: '2008-01-01'
            ,max: '2018-01-01'
            ,ready: function(){
                ins22.hint('日期可选值设定在 <br> 2008 到 2018');
            }
        });
    });</script>
</body>
</html>