@model MySuperMarket.Models.SALES_LOT

@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>超市管理系统 v0.1</title>
    <link rel="stylesheet" href="/Content/assets/libs/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="color:white">
                <b>超市管理系统 v0.1</b>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left" style="margin-top: 20px">
                <span class="layui-breadcrumb">
                    <a href="">欢迎</a>
                    <a href="">销售管理</a>
                    <a href="">销售报表</a>
                </span>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/Content/assets/image/avatar.PNG" class="layui-nav-img">
                        管理员
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出登录</a></li>
            </ul>
        </div>
        <!-- 导航栏区域 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">销售管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SALES_LOT/Index">今日销售</a></dd>
                            <dd class="layui-this"><a href="/SALES_LOT/Create">销售报表</a></dd>
                            <dd><a href="/PRODUCT_ATTRIBUTE/Index">商品信息管理</a></dd>
                            <dd><a href="/INCOMEs/Index">收支管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">货架管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SHELves/Index">货架分区</a></dd>
                            <dd><a href="/PRODUCTs/Put">商品摆放</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/STOCKs/Index">进货记录</a></dd>
                            <dd><a href="/PRODUCTs/Index">库存记录</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">供应链管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/PLANs/Index">进货计划</a></dd>
                            <dd><a href="/SUPPLIERs/Index">供货商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">赞助商管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SUPPORTs/Index">赞助记录</a></dd>
                            <dd><a href="/SPONSORs/Index">赞助商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/EMPLOYEEs/Index">员工记录</a></dd>
                            <dd><a href="/SALARies/Index">工资管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">促销管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/VIPs/Index">会员信息</a></dd>
                            <dd><a href="/PRODUCTs/Create">折扣管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" style="padding: 20px; background-color: #F2F2F2;">
            <!-- 内容主体区域 -->
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">第一季度销售 Top</div>
                        <div class="layui-card-body">
                            <label>
                                <i class="layui-icon layui-icon-note" style="font-size: 24px; font-weight: bold"> # 1</i>
                            </label>
                            &ensp;&ensp;农夫山泉
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">第二季度销售 Top</div>
                        <div class="layui-card-body">
                            <label>
                                <i class="layui-icon layui-icon-note" style="font-size: 24px; font-weight: bold"> # 2</i>
                            </label>
                            &ensp;&ensp;菠萝面包
                        </div>
                    </div>
                </div>
                <!-- 主体表格部分 -->
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" style="padding: 8px 20px; font-size: 18px; font-weight: bold">当前月份 Top</div>
                        <div class="layui-card-body">
                            <table class="layui-hide" id="sale_table" lay-filter="sale_table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->

        </div>
    </div>
    <script src="/Content/assets/libs/layui/layui.js"></script>
    <script>
    //JavaScript代码区域
        layui.use(['element', 'layer'], function () {
            var element = layui.element, layer = layui.layer;

        });</script>
    <script>
    layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#sale_table'
                , url: '/SALES_LOT/getJson1/' //数据接口
                , method: "post"
                , cellMinWidth: 160
                //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                //width 支持：数字、百分比和不填写。
                //你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: 'PRODUCT_ID', title: '商品编码', sort: true }
                    , { field: 'PRODUCT_NAME', title: '商品名称', sort: true }
                    , { field: 'TOTAL_MONEY', title: '月总金额', sort: true }
                    , { field: 'TOTAL_NUMBER', title: '月总销量', sort: true }
                    , { field: 'MONTH', title: '月份', sort: true }
                ]]
            });
        });</script>
</body>
</html>