@model IEnumerable<MySuperMarket.Models.SALES_LOT>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>超市管理系统 v0.1</title>
    <link rel="stylesheet" href="/Content/assets/libs/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="color:white">
                <b>超市管理系统 v0.1</b>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left" style="margin-top: 20px">
                <span class="layui-breadcrumb">
                    <a href="">欢迎</a>
                    <a href="">销售管理</a>
                    <a href="">今日销售</a>
                </span>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/Content/assets/image/avatar.PNG" class="layui-nav-img">
                        管理员
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出登录</a></li>
            </ul>
        </div>
        <!-- 导航栏区域 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">销售管理</a>
                        <dl class="layui-nav-child">
                            <dd class="layui-this"><a href="/SALES_LOT/Index">今日销售</a></dd>
                            <dd><a href="/SALES_LOT/Create">销售报表</a></dd>
                            <dd><a href="/PRODUCT_ATTRIBUTE/Index">商品信息管理</a></dd>
                            <dd><a href="/INCOMEs/Index">收支管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">货架管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SHELves/Index">货架分区</a></dd>
                            <dd><a href="/PRODUCTs/Put">商品摆放</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/STOCKs/Index">进货记录</a></dd>
                            <dd><a href="/PRODUCTs/Index">库存记录</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">供应链管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/PLANs/Index">进货计划</a></dd>
                            <dd><a href="/SUPPLIERs/Index">供货商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">赞助商管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SUPPORTs/Index">赞助记录</a></dd>
                            <dd><a href="/SPONSORs/Index">赞助商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/EMPLOYEEs/Index">员工记录</a></dd>
                            <dd><a href="/SALARies/Index">工资管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">促销管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/VIPs/Index">会员信息</a></dd>
                            <dd><a href="/PRODUCTs/Create">折扣管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" style="padding: 20px; background-color: #F2F2F2;">
            <!-- 内容主体区域 -->
            <!--小卡片-->
            <div>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header" id="dateBin"
                                 style="font-size: 18px; font-weight: bold; padding: 8px 20px"></div>
                            <div class="layui-card-body" style="padding: 20px">
                                <div>
                                    <!--日期搜索-->
                                    <div style="padding: 0px">
                                        <label>年月选择：</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input" id="test1">
                                        </div>
                                        <button id="sale-btn-search" class="layui-btn icon-btn"
                                                style="margin-left:15px; width: 90px">
                                            <i class="layui-icon">&#xe615;</i>搜索
                                        </button>
                                        <button type="button" id="sale-btn-sup-search" class="layui-btn icon-btn"
                                                style="margin-left:15px; width: 90px; background: #1E9FFF">
                                            高级搜索
                                        </button>
                                    </div>
                                    <!--商品编码搜索-->
                                    <br>
                                    <div style="padding: 0px">
                                        <label>商品批号：</label>
                                        <div class="layui-inline">
                                            <input class="layui-input" placeholder="比如：59100118022101">
                                        </div>
                                        <button id="sale-btn-search2" class="layui-btn icon-btn"
                                                style="margin-left:15px; width: 90px">
                                            <i class="layui-icon">&#xe615;</i>搜索
                                        </button>
                                        <button type="button" id="sale-btn-add" class="layui-btn icon-btn"
                                                style="margin-left:15px; width: 90px">
                                            <i class="layui-icon">&#xe654;</i>
                                            添加
                                        </button>
                                    </div>
                                    <div style="font-size: 18px; font-weight: bold; padding: 35px 0px 8px 0px">
                                        <p id="table_logo_time">销售报表</p>
                                    </div>
                                    <!--数据表格，实时更新数据-->
                                    <table class="layui-hide" id="test"></table>
                                    <!--添加弹出框-->
                                    <form id="sale-add-form" lay-filter="sale-search-form" class="layui-hide">
                                        <div style="margin: 20px;">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">商品批号</label>
                                                <div class="layui-input-inline">
                                                    <input name="batch_id" placeholder="请输入商品批号" type="text"
                                                           class="layui-input"
                                                           lay-verify="required" required />
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">销售数量</label>
                                                <div class="layui-input-inline">
                                                    <input name="number" placeholder="请输入销售数量" type="text"
                                                           class="layui-input"
                                                           lay-verify="required" required />
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">销售金额</label>
                                                <div class="layui-input-inline">
                                                    <input name="money" placeholder="请输入销售金额" type="text"
                                                           class="layui-input"
                                                           lay-verify="required" required />
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">交易时间</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input" id="test2" placeholder="比如：2018-7-27">
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-input-block">
                                                    <button class="layui-btn layui-btn-primary close" type="button">
                                                        取消
                                                    </button>
                                                    <button class="layui-btn" lay-filter="sale-add-form-submit" lay-submit>添加</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-footer">
                <!-- 底部固定区域 -->
            </div>
        </div>
    </div>
    <script src="/Content/assets/libs/layui/layui.js"></script>
    <script type="text/html" id="staff-table-bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/javascript">
        function change(time) {
            var date = new Date(parseInt(time.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var Hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }

    </script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'layer'], function () {
            var element = layui.element, layer = layui.layer;
        });

        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.jquery;
            table.render({
                elem: '#test'
                , url: '/SALES_LOT/getJson/' //数据接口
                , method: "post"
                , cellMinWidth: 80//全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { type: 'numbers' }
                    , { field: 'BATCH_ID', title: '商品批号', sort: true }
                    , { field: 'PRODUCT_ID', title: '商品编码', sort: true }
                    , { field: 'PRODUCT_NAME', title: '商品名称' } //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , { field: 'LOT_NUMBER', title: '销售数量', sort: true }
                    , { field: 'MONEY', title: '销售金额', sort: true }
                    , { field: 'LOT_DATE', title: '交易日期', templet: '<div>{{ change(d.LOT_DATE)}}</div>' }
                ]]
                , page: true
            });
            //搜索按钮点击事件
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#sale-btn-search');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            key: {
                                id: demoReload.val()
                            }
                        }
                    });
                }
            };
            //按编号搜索按钮点击事件
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#sale-btn-search2');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            key: {
                                id: demoReload.val()
                            }
                        }
                    });
                }
            };
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            // 高级搜索按钮点击事件
            $(document).on('click', '#sale-btn-sup-search', function () {
                layer.open({
                    type: 2,
                    title: '高级搜索',
                    area: ['600px', '440px'],
                    offset: 'auto',
                    content: '01_today_sale_form.html'
                    , zIndex: layer.zIndex //重点1
                });
            });
            // 添加按钮点击事件
            $(document).on('click', '#sale-btn-add', function () {
                layer.open({
                    type: 1,
                    title: '添加交易记录',
                    area: '400px',
                    offset: 'auto',
                    content: $('#sale-add-form').html()
                });
            });
        });


        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //显示今日日期
            laydate.render({
                elem: '#dateBin',
                format: '今日日期：yyyy 年 M 月 dd 日',
                value: new Date(),

            });
            //日期搜索
            laydate.render({
                elem: '#test1',
                value: new Date(),
            });
        }
        );
    </script>
</body>
</html>